.carousel {
    transition: transform .3s ease-out;
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow: auto;
    scroll-behavior: smooth;
    gap: .5rem;

}

.featured {
    margin-top: 3rem;
}

.parent {
    width: 100%;
    margin-bottom: 8rem;
}

.carousel::-webkit-scrollbar,
.parent::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}

@media (max-width: 1096px) {
    .carousel {
        grid-auto-columns: 30%;
    }
}

@media screen and (max-width: 760px) {
    .carousel {
        grid-auto-columns: 47%;
        margin-left: .5rem;
        padding-right: .5rem;
    }
}

@media screen and (max-width: 550px) {
    .carousel {
        grid-auto-columns: 66%;
    }
}