.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 95%;
    position: relative;
    align-items: center;
    gap: .5rem;
    overflow-x: auto;
    transition: transform 1s ease-out;
    margin-top: 1rem;
    scroll-behavior: smooth;
}


.parent {
    width: 100%;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}