.carousel {
    display: flex;
    position: relative;
    align-items: center;
    height: 90%;
    width: 200%;
    transition: transform 1s ease-out;
    margin-top: 1rem;
}


.parent{
    width: 100%;
    height: 22rem;
    overflow: hidden;
}